* {
    margin-top: 5px;
    margin-right: 10px;
    /* margin-left: 2rem; */
    padding: 0;
    box-sizing: border-box;


}
body {
    margin-left: 100px;
}



.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}


.user-profile {

    width: 40px;
    height: 40px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: larger;
    padding: 5px;

}

.la:hover {
    color: blue;
    cursor: pointer;
    font-size: 25px;
    transition: 0.3s;
}

.legend {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 20px;
}

.las{
    flex-grow: 1;
    cursor: pointer;
    font-size: 20px;
}

.las:hover {
    color: blue;
    font-size: 30px;
    transition: 0.4s;

}

a {
    text-decoration: none;
    color: black;
}

/* Custom CSS for Sidebar */
.sidebar-heading {
    font-weight: bold;
}

#wrapper {
    display: flex;
    width: 100%;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    margin-left: -250px;
    transition: margin 0.25s ease-out;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -250px;
    }
}

.list-group-item:hover {
    color: blue;
    /* width: 10px; */
    /* height: 1px; */
    border-bottom: blue 1px solid;
    /* background-color: lightcyan; */
}
